# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# MacOS
.DS_Store

# LinkedIn Project Specific
assets/cookies/*.json
assets/data/*.db
assets/screenshots/
assets/inputs/harvest_state.json
debug_harvest_page_*.png
logs/*.log

# IDE
.idea/
.vscode/